.cabal-sandbox/
.direnv/
.ghc.environment.*
.stack-work/
cabal.sandbox.config
cabal.config
dist-newstyle/
stack.yaml.lock
tags
TAGS
/cabal.project.local
*.o
*.o-boot
*.hi
*.hi-boot
*.po
*.po-boot
*.p_o
*.p_o-boot
*.chi
*.chs.h
*.dyn_o
*.dyn_o-boot
*.dyn_hi
*.dyn_hi-boot
*.local
*.prof
*.aux
*.hp
*.bin
*.log
*.tar.gz
*.DS_Store
Trial_crypto.hs
Trial_crypto2.hs
Trial.hs
_build/
.gitignore
errot.txt